</body>

<style>
    footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        padding: 3px;
        background-color: rgb(0, 102, 255);
        color: white;
    }
</style>


<footer>
    <p style="width: 8cm;">
        <br>Microproyecto Bases de Datos<br>
        <br><a>Por: Salvador Alfaro</a></p>
    <br>
</footer>



</html>